.background {
  background-color: #f1f1f1;
  position: absolute;
  width: 100%;
  left: 0;
  height: 640px;
  z-index: -1;
}

.container {
  padding-top: 100px;
  width: 1110px;
  margin: 0 auto;
}

.headerContainer {
  text-align: center;
}

.header {
  margin-bottom: 16px;
  font-size: 40px;
}

.itemContainer {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.textContainer {
  font-size: 20px;
}

.itemContainerNoMargin {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.itemHeader {
  font-size: 24px;
  margin-bottom: 36px;
}

.itemDescription {
  font-size: 20px;
  color: #3b3b3b;
}

.itemList {
  margin: 40px 0 0 20px;
  color: #3b3b3b;
  text-align: left;
}

.button {
  padding: 10px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 80px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .container {
    width: 250px;
    margin: 0 64px;
  }
  .nomargin {
    margin: 0;
  }
  .header {
    font-size: 24px;
  }
  .image {
    width: 247px;
    height: 224px;
  }
  .itemContainer {
    flex-direction: column;
  }
  .itemContainerNoMargin {
    flex-direction: column-reverse;
  }
  .background {
    height: 1145px;
  }
}
