.container {
  padding: 100px 0;
  width: 1110px;
  margin: 0 auto;
}

.header {
  font-size: 40px;
}

.headerDescription {
  font-size: 20px;
  color: #3b3b3b;
  padding: 16px 0 40px 0;
}

.itemList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  border-bottom: 1px solid #e6e6e6;
  padding: 8px 0 23px 0;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.buttonFlipped {
  background-color: white;
  border: none;
  cursor: pointer;
  transform: rotate(180deg);
}

.question {
  font-size: 20px;
}

.answer {
  width: 720px;
  padding-top: 8px;
}
