.background {
  background-color: #f1f1f1;
  height: 430px;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
}

.container {
  padding: 100px 0;
}

.header {
  font-size: 40px;
  text-align: center;
}

.itemList {
  list-style: none;
  padding-top: 40px;
  display: flex;
  gap: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.itemHeader {
  font-size: 20px;
  font-weight: 700;
}

.itemText {
  font-size: 14px;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .container {
    width: 250px;
    margin: 0 64px;
  }
  .background {
    height: 650px;
  }
  .itemList {
    flex-direction: column;
    gap: 24px;
  }
  .header {
    font-size: 24px;
  }
  .itemHeader {
    font-size: 16px;
  }
  .itemText {
    font-size: 14px;
  }
}
